

.card-item {
    font-family: 'Oswald', sans-serif;
    padding:5rem; 
    background-color: #f3f3f3;
}

@media (min-width: 768px) {
    .card-item {
        max-width: 120rem;
        display:flex;
        align-items:center;
        gap: 3rem;
        margin:0 auto;
        margin-top:5rem;
        margin-bottom: 5rem;
    }
}

.info-categoria {
    margin: 2rem 0;
}

.info-precio {

    font-size: 4rem;
    color: #FF9800;
    font-weight: 800;
}